<section class="px-32 bg-gradient-to-t from-emerald-950 to-gray-950 py-14">
  <div class="max-w-xl sm:text-center mb-6 md:mx-auto">
    <h3 class="text-emerald-500 text-3xl font-semibold sm:text-4xl">
      Our Work
    </h3>
    <p class="mt-3 text-gray-600">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et est
      hendrerit, porta nunc vitae, gravida justo. Nunc fermentum magna lorem,
      euismod volutpat arcu volutpat et.
    </p>
  </div>
  <html class="scroll-smooth">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      <div>
        <img
          class="h-auto max-w-full rounded-lg  hover:zoom-in"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-6.jpg"
          alt=""
        />
      </div>

      <div>
        <img
          class="h-auto max-w-full rounded-lg  hover:zoom-in"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg  hover:zoom-in"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg  hover:zoom-in"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg  hover:zoom-in"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg  hover:zoom-in"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg  hover:zoom-in"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-6.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg  hover:zoom-in"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-7.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg  hover:zoom-in"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-8.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg  hover:zoom-in"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-9.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg  hover:zoom-in"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-10.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg  hover:zoom-in"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-11.jpg"
          alt=""
        />
      </div>
    </div>
  </html>
</section>
