<div class="py-52 bg-gradient-to-bl from-green-900">
  <section class="mx-auto max-w-screen-xl px-4 items-center lg:flex md:px-8">
    <div class="space-y-4 flex-1 sm:text-center lg:text-left">
      <h1 class="text-gray-50 font-bold text-4xl xl:text-5xl fade-slide-in">
        A good photograph is knowing 
        <span class="text-green-500"> where to stand</span>
      </h1>
      <p class="text-gray-500 max-w-xl leading-relaxed sm:mx-auto lg:ml-0 fade-slide-in">
        I never stay in one country more than three months. Why? Because I was interested in seeing, and if I stay longer I become blind.
      </p>
      <div>
        <p class="text-gray-500 py-3 ">
          Subscribe to our newsletter and we'll save your time
        </p>
        <form
          class="items-center space-y-3 sm:justify-center sm:space-x-3 sm:space-y-0 sm:flex lg:justify-start"
        >
          <input
            type="text"
            placeholder="Enter your email"
            class="text-gray-500 border outline-none p-3 rounded-md w-full sm:w-72 hover:bg-black"
          />
          <button
            class="outline-none bg-gray-950 text-white text-center px-4 py-3 rounded-md shadow w-full ring-offset-2 ring-gray-700 focus:ring-2 sm:w-auto hover:bg-green-500 hover:text-black transition duration-500 ease-in-out"
          >
            Subscribe
          </button>
        </form>
      </div>
    </div>
    <div class="flex-1">
      <div>
        <img src="../../../../../assets/PIXEL gree.png" class="h-56 pl-72" />
      </div>
    </div>
  </section>
</div>
